
body
{
    background-image:".";
    background-color: rgb(17, 17, 17);
    color: rgb(247, 240, 240);
    font-size:16px;
    font-weight:bold;
    
    padding: 15px;
  margin: 70px;
    background-color:black;
    
}

footer {
    text-align: center;
    font-size:5px;

    padding: 0px;

    margin: 0px;
    background-color: rgb(17, 17, 17);
    color: white;
  }
